POSTGRES_DB=trabalho2
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_PORT=5432
POSTGRES_HOST=localhost
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin
MINIO_API_PORT=9000
MINIO_CONSOLE_PORT=9001
MINIO_ENDPOINT=http://localhost:9000
MINIO_REGION=us-east-1
LANDING_BUCKET=landing-zone
BRONZE_BUCKET=bronze
SPARK_APP_NAME=trabalho2-spark-minio-delta
